

#MainDiv
{
   
    width: 100%;
    height: 700px;
}
#MonopolyDeskImg
{
    height: 100%;
    width: 100%;
}
#ImageDiv
{
    float: left;
    width: 40%;
    height: 60%;
    margin: 50px 0px 0px 50px;
    box-shadow: 0 0 10px black;
}

#TextDiv
{
    float: left;
    box-shadow: 0 0 10px black;
    width: 400px;
    height: 200px;
    margin: 50px 0px 0px 200px ;
}
#buttonDiv
{
    box-shadow: 0 0 10px black;
    width: 250px;
    height: 100px;
    float: right;
    margin: 115px 450px 0px 0px ;
}
#button
{
    height: 100%;
    width: 100%;
    background: lightgreen;
}

