#navbar-a {
    padding-left: 200px;
}

#navbar-nav {
    padding-right: 200px;
    padding-top: 12px;
}

#navbar-div {
    box-shadow: 0 0 10px black;
}
#MainDiv
{
    width: 100%;
    height: 2000px;
}
#ProfilePictureDiv
{
    float: left;
    width: 20%;
    height: 15%;
    margin: 60px 0px 0px 80px;
    box-shadow: 0 0 10px black;
}
#ProfileDescriptionDiv
{
    float: left;
    width: 35%;
    height: 15%;
    margin: 60px 0px 0px 80px;
    box-shadow: 0 0 10px black;
}
#ProfileBalanceDiv
{
    float: left;
    width: 20%;
    height: 15%;
    margin: 60px 0px 0px 120px;
    box-shadow: 0 0 10px black;
}
#ProfileNameDiv
{
    float: left;
    border: 1px solid black;
    width: 70%;
    height: 50%;
}
#ProfileButtonDiv
{
    float: left;
    border: 1px solid black;
    width: 30%;
    height: 50%;
}
#ProfileStatisticDiv
{
    float: left;
    border: 1px solid black;
    width: 100%;
    height: 50%; 
    
}
.ProfilePicture
{
    width: 100%;
    height: 100%;
}
.Button
{
    width: 100%;
    height: 100%;
    background: lightgreen;
}
#ProfileBattles
{
    float: left;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}
#ProfileWins
{
    float: left;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}
#ProfileFriends
{
    float: left;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}
#ProfileFriendsPictures
{
    float: left;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}
#ProfileFriendPicture1
{
    float: left;
    border: 1px solid black;
    width: 100%;
    height: 50%;    
}
#ProfileFriendPicture2
{
    float: left;
    border: 1px solid black;
    width: 100%;
    height: 50%;    
}

#ProfileBalanceViewDiv
{
    float: left;
    border: 1px solid black;
    width: 100%;
    height: 70%;     
}
#ProfileBalanceControlDiv
{
    float: left;
    border: 1px solid black;
    width: 100%;
    height: 30%;     
}
#InventoryDiv
{
    float: left;
    width: 90%;
    height: 50%;
    margin: 60px 0px 0px 80px;
    
}
.ProfileInventoryItems
{
    float: left;
    width: 90%;
    height: 15%;
    margin: 20px 5% 20px 5%;
    box-shadow: 0 0 10px black;
}
.ProfileInventoryItemsPicureDiv
{
    float: left;
    border: 1px solid black;
    width: 15%;
    height: 100%;
}
.ProfileInventoryItemsDescriptionDiv
{
    float: left;
    border: 1px solid black;
    width: 50%;
    height: 100%;    
}
.ProfileInventoryItemsLeftDiv
{
    float: left;
    border: 1px solid black;
    width: 15%;
    height: 100%; 
}
.ProfileInventoryItemsPriceDiv
{
    float: left;
    border: 1px solid black;
    width: 20%;
    height: 50%; 
}
.ProfileInventoryItemsSellDiv
{
    float: left;
    border: 1px solid black;
    width: 20%;
    height: 50%; 
}
.ItemLogo
{
    width: 100%;
    height: 100%; 
}





