{% extends 'header/header.html' %}
{% load static %}

{% block title %}
    User page
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'user-page.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="MainBlock">
            <div class="profile-info">
                <div class="avatar">
                    <img class="avatar-image" height="200px" width="200px" src="{{ object.image.url }}">
                </div>
                <div>
                    <h6 class="profile-info-h6">
                        {{ object.username }}
                    </h6>
                    <h6 class="profile-info-stats"> STATS WILL BE HERE </h6>
                </div>
            </div>
        <div class="inventory">
            <div class="inventory-items">
                {% for small_l in inventory %}
                    <div class="line">
                    {% for item in small_l %}

                    <div class="inventory-item-place">

                        <img src="{{ item.image.url }}" class="inventory-item-image">

                        <div class="inventory-item-name">
                            {{ item.item_name }}
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}