{% extends 'header/header.html' %}
{% load static %}

{% block title %}
    User page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'user.css' %}">
    <script src="{% static '/js/item_sellform.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="MainBlock">
            <div class="profile-info">
                <div class="avatar">
                    <img class="avatar-image" height="200px" width="200px" src="{{ object.image.url }}">
                </div>
                <div>
                    <h6 class="profile-info-h6">
                        {{ object.username }}
                    </h6>
                    <h6 class="profile-info-stats"> STATS WILL BE HERE </h6>
                </div>
            </div>
        <div class="inventory">
            <div class="inventory-items">
                {% for small_l in inventory %}
                    <div class="line">
                    {% for item in small_l %}

                    <div class="inventory-item-place">

                        <img src="{{ item.image.url }}" class="inventory-item-image">

                        <div class="inventory-item-name">
                            {{ item.item_name }}
                            <p></p>
                        {% if user == object and user.is_authenticated %}
                            <input type="button" id="hider{{ item.id }}" class="btn btn-success" value="SELL" />
                            <div id="popup{{ item.id }}" class="popup" hidden>
                                <div class="inner__block">
                                    <input type="button" id="closer{{ item.id }}" class="btn btn-danger" value="CLOSE"/>
                                    {{ item.item_name }}
                                    <form id="sellform{{ item.id }}">
                                        <label>Enter price:</label>
                                        <input type="number">
                                        <input type="submit" id="submitsell{{ item.id }}" value="Submit">
                                        <script>
                                            document.getElementById('hider{{ item.id }}').onclick = function () {
                                                document.getElementById('popup{{ item.id }}').hidden = false;
                                            }
                                        </script>
                                        <script>
                                            document.getElementById('closer{{ item.id }}').onclick = function () {
                                                document.getElementById('popup{{ item.id }}').hidden = true;
                                            }
                                        </script>
                                    </form>
                                </div>
                            </div>

                        {% endif %}
                        </div>

                    </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}