{% extends 'header/header.html' %}
{% load static %}

{% block title %}
    Item-page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/item-page.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
{% endblock %}



{% block body %}
            <div class="main-item-div">
                <div class="main-item-div-div">
                <div class="main-item-div-image-div">
                    <img src="{{ object.image.url }}" class="main-item-div-image">
                </div>

                <div class="main-item-text">
                    <h6 id="main-item-text-title">
                        {{ object.name }}
                    </h6>
                    <h6 id="main-item-text-rarity">
                        Рідкість: {{ object.rarity }}
                    </h6>
                    <h6 id="main-item-text-type">
                        Тип: {{ object.type }}
                    </h6>
                    <h6 id="main-item-text-collection">
                        Коллекція: Барселона
                    </h6>
                </div>
                </div>

                <div class="main-item-div-text">
                    <p id="boost">
                        Эта карточка увеличивает доход с поля на 2.5% по сравнению с обычным полем.
                    </p>
                    <p id="biography">
                        Ліонель Андрес Мессі Куччиттіні аргентинський футболіст, плеймейкер, нападник.
                        Наразі вільний агент, останнім клубом була «Барселона».
                        Рекордсмен за кількістю забитих м'ячів у складі збірної Аргентини та іспанської «Барселони».
                    </p>
                </div>
            </div>

     <div class = "tp">
            <div class="market-lots">
            <div id = "market-lots-textdiv">
                <h6 class = "market-lots-h6" id = "market-lots-h6-1">
                    НАЗВАНИЕ
                </h6>
                <h6 class = "market-lots-h6" id = "market-lots-h6-2">
                    ПРОДАВЕЦ
                </h6>
                <h6 class = "market-lots-h6" id = "market-lots-h6-3">
                    ЦЕНА
                </h6>
            </div>
            <div class = "market-lots-groups">
                <div class = "market-lot">
                    <img class = "item-image" src = "2201.jpg" width="90">
                    <div class = "item-description">
                        <h4 class = "item-h4">
                            Item name
                        </h4>
                        <h6 class = "item-h6">
                            Some item description
                        </h6>
                    </div>
                    <div class="item-count-price">
                        <h6 class = "item-count">
                            AVATAR
                        </h6>
                        <h6 class = "item-price">
                            215 $
                            <button type="button" class="btn btn-success">Купить</button>
                        </h6>

                    </div>

                </div>
            </div>
        </div>

{% endblock %}