#navbar-a {
    padding-left: 200px;
}

#navbar-nav {
    padding-right: 200px;
    padding-top: 12px;
}

#navbar-div {
    box-shadow: 0 0 10px black;
}

html {
    min-width: 800px;
}

.shadowfilter {
    box-shadow: rgb(255, 4, 4) 0px 20px 60px -10px;

}